################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NFLConsoleApp/v15/Server/sqlite3/db.lock
/NFL_Small_Set.xlsx
*.xlsx
*.lock
